extends layout

block content
  center
    h1 Developers
  .row
    .col-md-3
      .panel.panel-default
        .panel-body
          center
            p(style="color: orange; font-size: 24px;") Marius Gripsgård
            p (mariogrip)
            p Developer
            p Fairphone 2, Oneplus one and Nexus 5
    .col-md-3
      .panel.panel-default
        .panel-body
          center
            p(style="color: orange; font-size: 24px;") Nils Glerum
            p (@nilske)
            p Developer
            p Fairphone 2
    .col-md-3
      .panel.panel-default
        .panel-body
          center
            p(style="color: orange; font-size: 24px;") Ratchanan Srirattanamet 
            p (peat-psuwit)
            p Developer
            p Fairphone 2 and Optimus L90
    .col-md-3
