extends layout

block content
  center
    h1 Developers
  .row
    .col-md-3
      .panel.panel-default
        .panel-body
          center
            p(style="color: orange; font-size: 24px;") Marius Gripsgård
            p (mariogrip)
            p Developer
    .col-md-3
      .panel.panel-default
        .panel-body
          center
            p(style="color: orange; font-size: 24px;") Louis Popi 
            p (h2o64)
            p Developer
    .col-md-3
    .col-md-3
