extends layout

block content
  article.post
    center
      h1 Get Involved
    h2 Support the UBports project
    p The UBports project is fairly new and it might need a kick to really get started, the UBport team is working hard to make this project an success!
    p It is very easy to make a difference. Depending on your skill set, your availability, and on your wealth you can help UBports in one or more of the following ways:
    h2 Financial help

    h3 Donations
    p You can help by making a financial contribution to the project. What we need to make this project a success is debug devices, OTA servers, web servers, CI servers and other things that cost. We already own servers that is financed by mariogrip.
    p
      a(href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=6AAXPVA8KDAK4') Make a donation
    p
      a(href='https://www.patreon.com/ubports', target='_blank') Become a patreon
    
    h2 Hardware

    h3 Donate
    p You can help by donating hardware to us, we need debug devices to develop Ubuntu touch to that device. If you have an device you want to donate, drop us a mail to me@mariogrip.com with the device name.

    h2 Support and promotion

    h3 Spreading the word
    p If you like the UBports project, let people know. Talk about it with your friends and the people around you.
    h3 Joining the Community
    p UBports isn&rsquo;t just porting Ubuntu touch, we are also a community that helps other with there Ubuntu touch phone.
    p
      a(href='http://forums.ubports.com/') Register on the forums
    h3 Helping others
    p If you have some spare time and you&rsquo;re willing to help other users with technical problems, you should seriously consider reading the forums and help users solve the problems you know how to fix.
    p
      a(href='http://forums.ubports.com/') Join the UBports forums

    h2 Project contributions

    h3 Bug reports
    p If you notice something that does not work as it should, and it&rsquo;s not listed on know issues. Please leave a bug report.
    p
      a(href='https://github.com/ubports/ubuntu-touch-for-oneplus-one/issues') Report a bug
    h3 Code
    p If you want to help developing and porting Ubuntu touch why not help us. If you have a device that you want to port and maintain, please drop us a email to me@mariogrip.com  or pm mariogrip on the forums.
    p
      a(href='http://github.com/ubports') Fork/patch our source code

    p This page proudly inspired by
      a(href='http://www.linuxmint.com/getinvolved.php')  http://www.linuxmint.com/getinvolved.php
