extends layout

block content
  h1 What is The UBPorts Project?
  p
    | Ubports team of deveopers and a meeting place for developers that wish to port Ubuntu Touch to as many devices as possible, This is a place where Developers can talk to other developers and learn from each other and help push ubuntu to more devices as teams, or by yourself but with community support if you wish.
  p
    | If you’re a user of a device without much developer knowledge this is also a place you can help out, you could try to link developers together if you think they could help, you could send a link, or help by throwing a bone, donate devices or money for things such as ota (over the air) servers, web server, ci servers and other money costing services and items!
  p
    | A user can also get some help if they spot a bug or have any issues with there Ubuntu Touch Device, there are many Developers and Users that would love to help you with any problem you have!
  | This is a place for Users and Developers to Play, I mean Port nicely!
  p
  h1 What is Ubuntu Touch:
  p
    | Touch is a new OS to mobile devices, developed by canonical (http://www.ubuntu.com/phone). The biggest problem with it now is the lack of support to different devices, that is what we want to change…
  p
    | So are you interested in Ubuntu touch? Does it look like something you would use as a daily driver? or may you just be curious on what this all is about, Join us at the forum or download Ubuntu touch to your device. If the device is not listed in the device page, you can vote on your device to get ported.
  h1 Are you a developer?
  p
    | Join us make Ubuntu Touch available on a number of different devices, and also make it stable and safe to use as a daily driver…  Instead of working alone, join our community and get your device supported as a official UBports, then your device will get OTA servers, Download servers, CI for builds and support by other UBports developers.
