extends layout

block content
  h1 Sponsors:
  hr(style="border-top-color: white; margin-top: 5px")
  .row
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            a(href="http://digitalocean.com")
              p(style="font-size: 17px") Sponsed servers from DigitalOcean
              img(src="/img/DigitalOcean_v.png", width="200", height="150")
  h2 Patreons:
  hr(style="border-top-color: white; margin-top: 5px")
  .row
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            p(style="color: black; font-size: 25px;") MrWaterlemon
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            p(style="color: black; font-size: 25px;") Marius Quabeck
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            p(style="color: black; font-size: 25px;") Jan Sprinz
