extends layout

block content
  h1 Sponsors:
  hr(style="border-top-color: white; margin-top: 5px")
  .row
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            a(href="http://digitalocean.com")
              p(style="font-size: 17px") Sponsed servers from DigitalOcean     
              img(src="https://www.digitalocean.com/assets/images/logos-badges/png/DO_Logo_Vertical_Black-45d278ad.png", width="200", height="126")
  h2 Patreons:
  hr(style="border-top-color: white; margin-top: 5px")
  .row
    .col-xs-6.col-md-4
      .panel.panel-default
        .panel-body
          center
            a(href="https://www.patreon.com/user?u=2897298", style="font-size: 25px") MrWaterlemon
