img(src="img/UBports-Logo-Trans.png" align="right" style="margin-top: 20px;" class="img-rounded")

h2 What is The UBports Project?

p UBports is an international community of developers and users who wish to keep Ubuntu Touch alive. The project was founded by Marius Gripsgard in 2015 as a place where developers can talk and learn from each other and help bring Ubuntu to more devices as a team. After #[a(href="https://ubuntu.com") Canonical] announced the end of their support for Ubuntu Touch, the operating system was picked up by the community. The resonance has been fantastic and our community is growing rapidly.

p It's our goal to keep Ubuntu Touch alive #[a(href="https://devices.ubports.com") on all existing devices]. While keeping all it's good and beautiful parts, we want to reshape Ubuntu Touch to make it the operating system we want to use on a daily basis. #[a(href="https://ubuntu.com") Ubuntu] is Linux for human beings, and Ubuntu Touch brings this spirit to mobile devices. We want to turn Ubuntu Touch into a true Linux distribution for mobile devices, while keeping its simple and elegant design.

p Ok, we can't compete with Android. But the good thing is we don't have to! Since we are a non-profit organization #[a(href="/sponsors") funded entirely from donations], we don't have to steal anyones market share. We do this for the community - as we are the community!

h2 Want to learn more?
p Are you interested in Ubuntu Touch? Does it look like something you might want to use or work on? Then you might be interested in learning about the #[a(href="/get-involved") various ways you can contribute to the project]. Check if #[a(href="https://devices.ubports.com") your device] is supported and read the #[a(href="/faq") FAQs] or hit the #[a(href="https://forums.ubports.com") forums] to learn more. If you want to stay up to date, you can also follow us on #[a(href="https://twitter.com/ubports") Twitter], #[a(href="https://plus.google.com/+Ubports") Google Plus], #[a(href="https://www.youtube.com/channel/UCDGJ7jdEoOx6_o_GbkjFaBg") YouTube], #[a(href="https://ubports.com/telegram") Telegram] or #[a(href="https://mastodon.rocks/@Ubports") Mastodon], or just subscribe to our #[a(href="https://bit.ly/ubports") mailing list] to recieve all our latest #[a(href="blog.ubports.com") blog posts]:

include ../includes/signup
