img(src="img/UBports-Logo-Trans.png" align="right" style="margin-top: 20px;" class="img-rounded")

h2 What is The UBports Project?

p UBports is an international community of developers and users who wish keep Ubuntu Touch alive. The project was founded by Marius Gripsgard in 2015 as a place where developers can talk and learn from each other and help bring Ubuntu to more devices as a team. After #[a(href="https://ubuntu.com") Canonical] announced the end of their support for Ubuntu Touch, the operating system was picked up by the community.

p It's our goal to keep Ubuntu Touch alive #[a(href="devices.ubports.com") on all existing devices]. While keeping all it's good and beautiful parts, we want to reshape Ubuntu Touch to make it the operating system we want to use on our phones a daily basis. #[a(href="https://ubuntu.com") Ubuntu] is Linux for human beings, and Ubuntu Touch brings this spirit to mobile devices. We want to turn Ubuntu Touch into a true Linux distribution for mobile devices, while keeping its simple and elegant design.

p Ok, we can't compete with Android. But the good thing is we don't have to! Since we are a non-profit organization #[a(href="/get-involved") funded entirely from community donations], we don't have to steal anyones market share. We do this for the community.
