.row
    .col.col-md-5
        img.item-center.installer-img.img-rounded(src="/img/ubpi.jpg")
    .col.col-md-7
        h1.installer-header Ubports installer
        p.installer-text
            | Installing ubuntu touch has never been easier
        .item-center
            a.btn-lg.btn.btn-default(href="/installer") Download
