.row
  h1.installer-header UBports Installer
.row
  .col.col-md-5
    img.item-center.installer-img.img-rounded(src="/img/ubpi.jpg")
  .col.col-md-7
    p.installer-text
      | You thought installing Ubuntu Touch was a painful process? Well you are wrong! With the UBports Installer, setting up Ubuntu Touch has never been easier! Just follow the on-screen instructions, sit back and watch your PC do all the work!
    .item-center
      a.btn-lg.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases") Download
    br
    p.installer-text
      | You're a command-line guy and want to feel like Neo in the Matrix while flashing your phone? Use #[a(href="https://github.com/MariusQuabeck/magic-device-tool") magic-device-tool] instead.
