.row
  .col-md-5
    h1 What is Ubuntu Touch?
    p Ubuntu Touch is the touch-friendly mobile version of the Ubuntu operating system. Originally designed and developed by Canonical, it now lives on in the UBports community.

    h2 Elegance in design
    p Ubuntu Touch offers a completely different approach to using a smartphone or tablet than using say Android or iOS. The UI allows you to access all of your phones features by swiping from the edges of the screen to access the dock, scopes, multitasking, as well as tools and settings all with one hand and no on-screen buttons.

    h2 Developed by nerds you trust
    p Based on Ubuntu, the Linux Kernel and other free and open-source Software, Ubuntu Touch does not lock you in a closed ecosystem. We want to use Linux on our phone without a Google account. Period.

  .col-md-7
    div(class="aspect-ratio")
      iframe(width="854" height="480" src="https://www.youtube.com/embed/ekiuY5b-LOA" frameborder="0" allowfullscreen)
