.row
  .col-md-5
    h1 What is Ubuntu Touch?
    p Ubuntu Touch is the touch-friendly mobile version of the Ubuntu operating system. Originally designed and developed by Canonical, it now lives on in the UBports community.

    h2 Elegance in design
    p Ubuntu Touch offers a completely different approach to using your smartphone or tablet than using say Android or iOS. The intuitive user interface allows you to access all of your phones features by swiping from the edges of the screen to access your apps, tools and settings all with one hand and no on-screen buttons. It looks great and feels smooth.

    h2 Developed by nerds you can trust
    p Based on Ubuntu, GNU, the Linux Kernel and other free and open-source Software, Ubuntu Touch does not lock you in a closed ecosystem. We want to use Linux on our phones without needing a Google or Apple account. Period.

  .col-md-7
    div(class="aspect-ratio")
      iframe(width="854" height="480" src="https://www.youtube.com/embed/ekiuY5b-LOA" frameborder="0" allowfullscreen)
