extends layout

block content
  .container(data-role='content')
      article.post
        center
          h1 Frequently asked questions

        h2 General questions

        h3 Will you keep Ubuntu Touch alive?
        p Yes! We will take over all devices and will continue delivering new features on some of the more recent ones. The older devices will be on life support and the actual work will happen in the non-legacy branch, but we will still provide critical security-updates and merge bug-fixes from the community. This way you will still be able to use your phone with Ubuntu Touch if you own one of the official devices, but the cool and shiny new features will probably only land in the non-legacy branch.
        p We are putting devices here because we don’t have any other choice. The official devices from BQ and Meizu have closed Android device trees. Because of this, we aren’t able to fix bugs in hardware enablement or add new features dependent on the kernel.

        h3 Which devices will be supported by the 16.04 branch?
        p This is not yet decided. Promising candidates are the Fairphone 2, Nexus 5, Oneplus One and Bq M10 tablet, but this may change in the future.

        h3 When will I be able to re-flash my phone with the new images?
        p You can! Vsit the #[a(href='https://devices.ubports.com') devices page] for installation instructions.

        h3 How can i help?
        p Donations, patches, bugreports, documentation, translations - there are many ways to #[a(href='/get-involved') get involved in UBports].

        h3 Will you port to my device?
        p Due to limited time and resources, we are not porting to new devices until the 16.04 rebase is finished.

        h3 Which device is the best to test Ubuntu Touch?
        p There are still many issues, but the Fairphone 2 offers the best experience at the moment.

        h2 OS questions

        h3 Does Ubuntu Touch support Android apps?
        p There have been some promising experiments with #[a(href='https://anbox.io') Anbox] in the past and it will be implemented at some point in the future.

        h3 Does Ubuntu Touch support Desktop GNU/Linux applications?
        p Yes-ish. We will try to improve compatibility in the future.

        h3 Is it possible to dual-boot with Android?
        p No. We haven’t played with MultiROM in over a year and it would be too much work to fix it right now, so if you have MultiROM and you want Ubuntu Touch, you will have to choose one OS. That ¡*may*! change with #[a(href='https://halium.org') Halium], but that’s not carved in stone yet and we won’t make any promises.

        h3 Where can i find apps for Ubuntu Touch?
        p Since the Canonical-maintained Ubuntu Store is closing its doors at the end of 2017, we are moving all the essential apps to the  #[a(href='https://open.uappexplorer.com/') OpenStore].
