br
center
  p
    a(href='https://www.digitalocean.com/')
      img(src='/img/DigitalOcean.png', width='200', height='43')
  p
    a(href="https://github.com/ubports/ubports.com") Edit this page
  p
    | This site is maintained by 
    a(href='/developers') the UBports developers
    |  and is not an any way endorsed by or affiliated with
    a(href='http://ubuntu.com/')  Ubuntu
    |  or
    a(href='http://www.canonical.com/')  Canonical
    | .
    a(href='http://ubuntu.com/')  Ubuntu
    |  and
    a(href='http://www.canonical.com/')  Canonical
    |  are registered trademarks of
    a(href='http://www.canonical.com/')  Canonical Ltd.
