extends layout

block content
  .container(data-role='content').get-involved
      article.post
        center
          h1 Get Involved
        p So you are looking to help us? That's awesome! The UBports project is fairly young, so every helping hand is greatly appreciated. It does not take much to make a great difference, and this page will help guide you finding a task that best fits your skills, interests and capabilities.
        h2
          span Financial contributions
          p Everybody can help by making a financial contribution. This finances our server infrastructure and debug devices, and helps covering additional costs. All team-members work for for free in their spare time, but with your help we will be able to finance a full-time developer soon!
          div.center
            h3
              span Patreon
              p Help keeping the lights on at UBports by #[a(href='https://www.patreon.com/ubports', target='_blank') becoming a patreon supporter]! A small monthly contribution can already make a big difference, plus you get access to a special patreon-exclusive newsfeed! Learn more at #[a(href='patreon.com/ubports', target='_blank') patreon.com/ubports].
            h3
              span PayPal
              p Not ready for a monthly commitment? No problem with that! You can still pitch us a couple of bucks using #[a(href='https://www.paypal.me/ubports', target='_blank') PayPal].
                form.form-inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                  .form-group
                  .input-group(style='margin-right: 5px;')
                    .input-group-addon
                      span.fa.fa-usd
                    input.form-control(type='number', placeholder='Amount', ng-model='payAmout')
                  input(type='hidden', name='cmd', value='_donations')
                  input(type='hidden', name='business', value='paypal@ubports.com')
                  input(type='hidden', name='lc', value='BT')
                  input(type='hidden', name='item_name', value='UBports')
                  input(type='hidden', name='amount', value='{{payAmout | number}}')
                  input(type='hidden', name='currency_code', value='USD')
                  input(type='hidden', name='no_note', value='0')
                  input(type='hidden', name='bn', value='PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest')
                  button.btn.btn-primary(border='0', name='submit', alt='PayPal - The safer, easier way to pay online!') Donate with PayPal!
            h3
              span Hardware
              p You have a working device you want to get rid of for whatever reason? You want to buy us a new device because you want to be sure we don't waste your precious dough on blackjack and hookers? Great, you can certainly do that! Just shoot us an email at me[at]mariogrip[dot]com and we will send someone to personally kiss your feet and pick up your device. No, that will actually not happen like that, but we will get back to you. :)
            h3
              span Bitcoin
              p To ensure the maximum amount of privacy and decentralized blockchain-goodness during your donation process, we also provide bitcoin-addresses for all supported devices at #[a(href='https://devices.ubports.com/#/', target='_blank') devices.ubports.com]. Be proud of your tinfoil hat and confuse the NSA!
        h2 Join the Community
          p Ubuntu Touch is more than just a mobile operating system. We are also a community of people who enjoy, gather, and interact with a free and open project. Whether it's by helping others resolving issues, by making them feel welcome, by participating in community-driven projects (repositories, podcasts, artwork...etc) or simply by meeting and talking to other users, we recommend you join the community and participate in making Ubuntu Touch better.
          div.center
            h3 Forums
              p Ask Questions, Help others, discuss the future of Ubuntu Touch - #[a(href='http://forums.ubports.com/') Register on the forums] today!
            h3
              span Telegram
              p Join our #[a(href='https://t.me/ubports') Telegram Supergroup] to chat with the community and developers in real-time.
            h3
              span Blog
              p Read #[a(href='https://blog.ubports.com') our blog] to keep up with the project or give us a piece of your mind in the comment section. You can also subscribe to #[a(href="https://bit.ly/ubports" target="_blank") our newsletter] to stay up to date:
              include includes/inline-signup
            h3
              span Spread the word
              p If you like the UBports project, let people know. Talk about it with your friends and family. Wear our shirts and hoodies every day. Stick our stickers to everything. Get a full-body UBports-tatoo. Buy a Zeppelin with the words "I LOVE UBUNTU TOUCH" on it and let it fly over your city for one day. Show us some luv!
              p Ok, some of our suggestions may be a little over-the-top, but you get the Idea. Since we are an independend donation-funded project, we can't spend huge amounts on marketing, so every bit of PR and word of mouth helps a lot!
        h2 Project contributions
          hr(style="border-top-color: white; margin-top: 4px")
          div.center
            h3
                span Testing and Quality Assurance
                p If you notice something that does not work as it should, and it's not listed on known issues, #[a(href='https://bugs.launchpad.net/ubports-android') please file a bug]. You can also help us a lot, by proof-reading, triaging and confirming bugreports. Quality Assurance is a great way to get started with development!
            h3
                span Code
                p We can always use help developing and porting Ubuntu Touch. #[a(href='http://github.com/ubports') Patch our source code].
            h3
                span Improve the wiki
                p Our documentation is a mess! #[a(href='https://wiki.ubports.com/wiki/Home') Help us changing that].
          br
          center
           p This page proudly inspired by #[a(href='http://www.linuxmint.com/getinvolved.php') http://www.linuxmint.com/getinvolved.php].
