extends layout

block content
    .container(data-role='content')
      include index/splash
    .container
        include index/about
    .installer
        .container
            include index/installer
