extends layout

block content
  .container(data-role='content')
    include index/splash
  .container
    center
      h3 Subscribe to our newsletter to stay up to date!
    include includes/inline-signup
  .container
    include index/welcome
  //- .installer
  //-   .container
  //-     include index/installer
  .container
    include index/about
