extends layout

block content
    .container(data-role='content')
      center
        h1 Ubports Installer
        img.item-center.installer-img-big.img-rounded(src="/img/ubpi.jpg")
        p You thought installing Ubuntu Touch was a painful process? Well you are wrong! With the UBports Installer, setting up Ubuntu Touch has never been easier! Just follow the on-screen instructions, sit back and watch your PC do all the work!
        .item-center
          a.btn-lg.btn.btn-default(href="https://github.com/ubports/ubports-installer/releases")
            span.fa.fa-linux.fa-space
            span.fa.fa-apple.fa-space
            span.fa.fa-windows.fa-space
            |  Download
