doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  title UBports
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700', rel='stylesheet', type='text/css')
  // Bootstrap Core CSS
  link(href='css/bootstrap.css', rel='stylesheet')
  link(href='css/ubports.css?v=' + deployVersion, rel='stylesheet')
  link(rel="icon", type="image/png", href="/img/icon.png")
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(ng-app='ubports', ng-controller='ctrl')
    nav.navbar.navbar-default(role='navigation', data-role='header')
      .container
        .navbar-header
          .visible-xs.visible-sm(data-role='actions')
            button.fa.fa-bars(type='button', ng-click='opened = !opened')
            div(data-role='actions-overflow-list', ng-class='{opened: opened}')
              ul
                li
                  a(ng-click='opened = false', href='https://devices.ubports.com') Devices
                li
                  a(ng-click='opened = false', href='https://forums.ubports.com') Forums
                li
                  a(ng-click='opened = false', href='https://wiki.ubports.com') Wiki
                li
                  a(ng-click='opened = false', href='https://blog.ubports.com') Blog
                li
                  a(ng-click='opened = false', href='/get-involved') Get Involved
                li
                  a(ng-click='opened = false', href='/faq') FAQ
                li
                  a(ng-click='opened = false', href='/sponsors') Sponsors
                li
                  a(ng-click='opened = false', href='/team') Team
          a.navbar-brand(href='/')
            div(data-role='back-btn')
                img.himg(src="/img/robot-t.png")
            | UBports
        .navbar-collapse.navbar-right.hidden-xs.hidden-sm
          ul.nav.navbar-nav
            li
              a(href='https://devices.ubports.com') Devices
            li
              a(href='https://forums.ubports.com') Forums
            li
              a(href='https://wiki.ubports.com') Wiki
            li
              a(href='https://blog.ubports.com') Blog
            li
              a(href='/get-involved') Get Involved
            li
              a(href='/faq') FAQ
            li
              a(href='/sponsors') Sponsors
            li
              a(href='/team') Team

    block content
    .container
        include footer
    script(src="https://use.fontawesome.com/fd65ace675.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='js/root.js?v=' + deployVersion)
