extends layout

block content
    .container(data-role='content')
      center
        h1 The UBports Team
      .row
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Marius Gripsgård
                p (mariogrip)
                p Developer
                p Fairphone 2, Oneplus one, Nexus 5
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Nils Glerum
                p (nilske)
                p Developer
                p Fairphone 2
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Ratchanan Srirattanamet
                p (peat-psuwit)
                p Developer
                p Fairphone 2 and Optimus L90
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Ricardo Mendoza
                p (ricmm)
                p Developer
                p Fairphone 2
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Ruben Carneiro
                p (rubencarneiro)
                p Developer, QA tester
                p Nexus 5 and Fairphone 2
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Florian Leeber
                p (Flohack)
                p Infrastructure
                p
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Michael Zanetti
                p (mzanetti)
                p Infrastructure
                p
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Brian Douglass
                p (bhdouglass)
                p Infrastructure
                p
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Chloe Johnson
                p (ChloeWolfieGirl)
                p Community manager, QA tester
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Dalton Durst
                p (UniversalSuperBox)
                p Blog, Wiki, QA tester
                p Fairphone 2
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Jan Sprinz
                p (NeoTheThird)
                p Community manager, QA tester
                p Fairphone 2, Nexus 5, BQ M10 HD
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Joed Lopez
                p (Profetik777)
                p Marketing Coordinator
      br
      center
        h2 Inactive Team-Members
      .row
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Louis Popi
                p (h2o64)
                p Developer.col-md-3
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Marius Quabeck
                p (MariusQuabeck)
                p QA tester
                p Oneplus One, Fairphone 2 and Nexus 5
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Apple Muncy
                p (apple_muncy)
                p Developer, QA tester
                p Nexus 5 and Fairphone 2
        .col-md-3
          .panel.panel-default.team-panel
            .panel-body
              center
                p(style="color: #E95420; font-size: 24px;") Lyo Faelan
                p (Lyokanthrope)
                p QA tester
                p Fairphone 2
